

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #f7f7f7;
  color: #333;
  position: relative;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 40px;
  margin-bottom: 40px;
}

.title {
  margin-bottom: 25px;
}

.steps {
  width: 600px;
  background-color: #f7f7f7;
  border-radius: 7px;
  padding: 25px 100px;
  margin: 100px auto;
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.numbers > div {
  height: 40px;
  aspect-ratio: 1;
  background-color: #e7e7e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.numbers .active {
  background-color: #7950f2;
  color: #fff;
}

.message {
  text-align: center;
  font-size: 20px;
  margin: 40px 0;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #7950f2;
  color: #fff;
}

button span {
  font-size: 16px;
  line-height: 1;
}

h3 {
  margin: 0;
  text-transform: uppercase;
}

.close {
  position: fixed;
  top: 16px;
  right: 16px;
  border: none;
  cursor: pointer;
  font-size: 40px;
  color: inherit;
  padding: 18px 12px;
  color: #fff;
  line-height: 0;
}


h1 {
  margin-bottom: 12px;
}

.card {
  width: 450px;
  margin: 40px;
  border: 4px solid #222;
}

.card::after {
  content: "";
  display: block;
}

.avatar {
  width: 100%;
  display: block;
}

.data {
  padding: 32px;
  padding-top: 24px;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}


button,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="submit"] {
  margin-top: 20px;
  font-family: inherit;
  font-size: inherit;
}

.counter {
  margin-bottom: 15px;
}

.counter .counter__steps,
.counter .counter__count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.counter__steps {
  flex-direction: column;
}

.counter__steps label {
  color: #414141;
  margin-bottom: 10px;
}
.counter__steps-range {
  width: 250px;
}

.counter button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 25px;
  padding: 0;
  line-height: 0;
}

.counter__steps-num {
  margin: 0 15px;
}

.counter__steps-input {
  height: 36px;
  padding: 0 10px;
  margin: 0 15px;
}

.counter__output {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.flashcards div {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  border-radius: 7px;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

div.selected {
  border: 1px solid #e03131;
  background-color: #e03131;
  color: #fff;
  font-weight: bold;
}


button.danger {
  background-color: #e03131;
  color: #fff;
  margin: 0 auto;
}


.accordion {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accordion-item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 20px 24px;
  padding-right: 48px;
  cursor: pointer;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
 
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.accordion-number {
  font-size: 24px;
  font-weight: 500;
  color: #ced4da;
}

.accordion-title,
.accordion-icon {
  font-size: 24px;
  font-weight: 500;
}

.accordion-content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
}

.accordion-content-box ul {
  color: #868e96;
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* OPEN STATE */
.accordion-open {
  border-top: 4px solid #087f5b;
}

.accordion-open .accordion-number,
.accordion-open .accordion-title {
  color: #087f5b;
}



.form-control {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.form-control select,
.form-control input {
  height: 40px;
  padding: 0 14px;
  border-radius: unset;
  outline: unset;
  border: 1px solid #f8f8f8;
  color: inherit;
  background: #fff;
  font-family: inherit;
  margin-bottom: 20px;
}
.form-control select:hover,
.form-control select:focus,
.form-control select:active,
.form-control input:hover,
.form-control input:focus,
.form-control input:active {
  border: 1px solid #777777;
}

.form-control label {
  font-size: 13px;
  margin-bottom: 8px;
}